.about-mey,
.my-werks,
.contact-mey {
    padding-top: 1rem;
    padding-bottom: 1rem;;
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
    background: rgba(0, 0, 0, 0.4);
    color: rgb(207, 135, 3);
    font-size: 1.4rem;
    letter-spacing: 0.20rem;
    transition: all 0.5s ease;
}

.about-mey:hover,
.my-werks:hover,
.contact-mey:hover {
    transform: scale(1.2);
    color: white;
}

