.html-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 1s;
    animation: pulsate 2.5s ease-out;
    animation-iteration-count: infinite;
}

.css-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 1.3s;
    animation: pulsate 2.05s ease-out;
    animation-iteration-count: infinite;
}

.bootstrap-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 1.21s;
    animation: pulsate 2.4s ease-out;
    animation-iteration-count: infinite;
}

.react-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 1.29s;
    animation: pulsate 2.28s ease-out;
    animation-iteration-count: infinite;
}

.php-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 2.87s;
    animation: pulsate 2.65s ease-out;
    animation-iteration-count: infinite;
}

.sql-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 2.8s;
    animation: pulsate 2.40s ease-out;
    animation-iteration-count: infinite;
}

.js-round {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 2.5s;
    animation: pulsate 2.35s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
0% { transform: scale(1); }
50% { transform: scale(1.09); }
100% { transform: scale(1); }
}



