* {
    padding: 0;
    margin: 0;
}

.cont {
    position: relative;
    height: 100vh;
}

body {
    font-family: Roboto;
    background-image: url('/assets/img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.nav-for-space {
    display: flex;
    align-items: center;
    position: relative;
}

.logo-space {
    transform: scale(0.4);
    position: relative;
    top: -2.5rem;
    left: -3rem;
}

.home-space:hover {
    transform: scale(1.2);
    color: rgb(245, 163, 12);
    text-decoration: none;
}

.home-space {
    position: relative;
    top: -2rem;
    left: -6rem;
    font-size: 1.5rem;
    color: #e7138b;
    transition: all 0.5s ease;
    z-index: 2;
}

.container{
    position: relative;
    top: -8rem;
}

.imgbox {
    position: relative;
    top: 4rem;
    left: 5rem;
    width: 100%;
    height: 70%;
}

.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130%-10px);
    top: -70px;
    right: 80px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: -90px;
    }
} 