@media screen and (max-width: 575px) {
    .form-name,
    .form-email,
    .form-email-subject,
    .form-message,
    .form-submit {
        width: 100%;
    } 
    .social-icons a {
        margin: 0.5rem 0.8rem;
    }
    .navbar-toggler, .logo {
        display: none;
    }
    .sm-logo {
        display: block;
        transform: scale(0.6);
        position: fixed;
        left: -0.1em;
        z-index: 10;
    }
    .download-resume-sm {
        transform: scale(0.8);
        position: fixed;
        right: 0.5rem;
        z-index: 10;
    }
    .my-projects,
    .contact-me,
    .cupertino,
    .techs,
    .poge,
    .emel,
    .credit {
        display: none;
    }
    .sound-sm {
        transform: scale(0.8);
        position: fixed;
        top: 4rem;
        right: 1.5rem;
    }
    .foot {
        transform: scale(0.8);
        color: rgba(255, 255, 255, 0.7);
    }
    a.footlink {
        color: black;
    }
}

@media screen and (max-width: 992px) {
    .cupertino,
    .techs,
    .sound,
    .poge,
    .emel,
    .credit {
        display: none;
    }
    .name-type {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .i-am,
    .webdev {
        transform: scale(0.9);
    }
    .sound-sm {
        transform: scale(0.8);
        position: fixed;
        top: 4rem;
        right: 1.5rem;
        z-index: 20;
    }
    .foot {
        transform: scale(0.8);
        color: rgba(255, 255, 255, 0.7);
    }
    a.footlink{
        color: black;
    }
}