.section2 {
    background-image: url('/assets/img/back3.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.about {
    background-image: url('/assets/img/pic.png');
    background-position: calc(50% + 14rem) 50%;
    background-repeat: no-repeat;
    position: relative;
    top: 2%;
    opacity: 0.9;
    letter-spacing: 0.1rem;
}

.about-link {
    color: #9f1061;
    box-shadow: 0 1px;
    text-decoration: none;
}

.download-resume,
.download-resume-sm {
    background-color: #e08414;
    font-size: 0.9rem;
    transition: all 0.5s ease;
}

.download-resume:hover,
.download-resume-sm:hover {
    color: #e08414;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
}

.about p {
    transition: all 0.7s ease;
}

.about p:hover {
    transform: scale(1.1);
    color: white;
}

.cupertino {
    position: relative;
    top: 16rem;
    left: 20rem;
}
.google-map {
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

