.section1 {
    background-image: url('/assets/img/back1.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home-link {
    color: #9f1061;
    box-shadow: 0 1px;
    text-decoration: none;
}

.nav-link {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link:hover {
    transform: scale(1.36);
    color: #9f1061;
    transition: all 0.5s ease;
}

/* start of styles for home page */

.name-type {
    font-size: 2.8rem;
    color: white;
    display: inline-block;
    position: relative;
    top: 12rem;
    left: 5rem;
    width: 25.2rem;
}

.i-am {
    font-size: 4.4rem;
    box-shadow: 0 0 5px rgb(208, 137, 6), 0 0 10px rgb(208, 137, 6), 0 0 15px rgb(208, 137, 6), 0 0 20px rgb(208, 137, 6);
}

.webdev {
    color: rgb(142, 147, 146);
}

.techs {
    position: relative;
}

.html-round {
    position: relative;
    top: 5.5rem;
    left: 27rem;
}

.css-round {
    position: relative;
    top: 14rem;
    left: 24rem;
}

.js-round {
    position: relative;
    top: -10rem;
    left: 8rem;
}

.bootstrap-round {
    position: relative;
    top: 16rem;
    left: 24.5rem;
}

.react-round {
    position: relative;
    top: 15rem;
    left: 25.5rem;
}

.sql-round {
    position: relative;
    top: 1rem;
    left: 19rem;
}

.php-round {
    position: relative;
    top: 11rem;
    left: 26rem;
}


