.section4 {
    background-image: url('../img/back5.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form-name, .form-email {
    padding: 0.7rem;
    width: 25%;
    border: 4px solid rgb(208, 137, 6);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.75);
    color: rgb(208, 137, 6);
}

.invite-message {
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.7)
}

.form-email-subject {
    padding: 0.7rem;
    width: 50.4%;
    border: 4px solid rgb(208, 137, 6);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.75);
    color: rgb(208, 137, 6);
}

.form-message {
    padding: 0.7rem;
    width: 50.4%;
    border: 4px solid rgb(208, 137, 6);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.75);
    color: rgb(208, 137, 6);
}

.form-name:hover,
.form-email:hover,
.form-email-subject:hover,
.form-message:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(208, 137, 6);
    border: 4px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px #ff8201;
} 

.form-submit {
    padding: 0.4rem;
    width: 50%;
    background:rgb(224, 135, 25);
    border: 3px solid rgb(200, 131, 3);
    border-radius: 6px;
    color: black
}

.contact {
    position: relative;
    top: 9%;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    font-size: 1.6rem;
    width: 1.6rem;
    margin: 0 2.2rem;
    text-decoration: none;
    color: black;
    box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.social-icons a .bi {
    position: relative;
    z-index: 10;
    transition: all 0.5s ease;
}

.social-icons a:after {
    content: '';
    width: 100%;
    height: 100%;
    top: -1em;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: all 0.5s ease;
}

.social-icons a:hover::after {
    top: 0;
}

.social-icons a:hover .bi {
    color: white;
}

.social-icons a:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.form-submit,
.form-name,
.form-email,
.form-email-subject,
.form-message,
.social-icons a {
    box-shadow: 0 0 5px, rgb(208, 137, 6);
    transition: all 0.5s ease;
}

.form-submit:hover {
    box-shadow: 0 0 5px rgb(208, 136, 28);
    letter-spacing: 0.1rem;
    color: rgb(208, 136, 28);
    background: rgba(0, 0, 0, 0.8)
}

.contact-link {
    color: #8b1076;
    box-shadow: 0 1px;
    text-decoration: none;
}

/* headings for my works and contact me, in gray background */
.contact-me,
.my-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.25);
    height: 5rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: rgb(238, 156, 5);
    transition: all 0.5s ease;
}

.contact-me:hover,
.my-projects:hover {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.35rem;
}

.emel {
    margin-left: 1.8rem;
}

.emel-ad {
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s;
}

.emel:hover {
    color:rgba(255, 255, 255, 0.7)
}